[Unit]
Description=Auto Bluetooth Sink Switcher

[Service]
ExecStart=~/.config/i3/scripts/btautoswitch.sh
Restart=always

[Install]
WantedBy=default.target
